<footer>
    <div class="footer big-footer">

        <!-- <div><h2>copy rights  © for team proogle geeks</h2></div> -->
        <div class="footer-child"><a href="/"><i class="fas fa-home"></i></a></div>
        <div class="footer-child"><a href="/myList"><i class="fas fa-list-ul"></i></a></div>
         <div class="footer-child"><a href="/user-info"><i class="far fa-newspaper"></i></a></div>
        <div class="footer-child"><a href="/login-page"><i class="fas fa-user"></i></a></div>
    </div> 
    <div class="footer-copy"><h2>copy rights  © for team proogle geeks</h2></div>
</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="/js/app.js"></script>

    <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

<!-- FlexSlider -->
<script defer src="/js/jquery.flexslider.js"></script>

<script type="text/javascript">
$(function(){
  SyntaxHighlighter.all();
});
$(window).load(function(){
  $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
  });
});
</script>
</body>
</html>



