<header>
    <div class="burger-test"></div>
    <nav>
        
        <ul class="nav-ul">
            
            <li><img class="logo" src="/img/logo.png" alt=""></li>
            <li ><button class="login-btn" ><a href="/login-page">Login</a> <span></span>  </button></li>
            <li class="bur-in"><i class="in fas fa-bars"></i></li>
            
        </ul>
    </nav>

    <form action='/search' method='GET' class="search">
        
            <input class="in-text search-bar" type="text" name="anime">
            <button class="search-btn-img" type="submit"><i class="fas fa-camera"></i></i></button>
            <button class="search-btn" type="submit">Search <i class="fas fa-search"></i></button>
    </form>

    
    <div class="burger-outer-big"></div>
    <div class="burger-outer"></div>

    
    
    <div class="burger">
        <ul class="u-menu">
            <a class="h-menu1 li-m" href="/"><li ><i class="fas fa-home"></i> Home</li></a>
            <a class="h-menu2 li-m" href="/myList"><li ><i class="fas fa-list-ul"></i> My-List</li></a>
            <a class="h-menu3 li-m" href="/"><li ><i class="far fa-newspaper"></i> Profile</li></a>
            <a class="h-menu4 li-m" href="/contact-us"><li ><i class="fas fa-question"></i> contact-us</li></a>
            <a class="h-menu5 li-m" href="/about-us"><li ><i class="fas fa-info-circle"></i> About Us</li></a>
        </ul>
    </div>
    
</header>
