<header>
    <nav>
        
        <ul class="nav-ul">
            <li><img class="logo" src="/public/img/logo.png" alt=""></li>
            <li class="bur-in"><i class="in fas fa-bars"></i></li>
        </ul>
    </nav>

    <!-- <div class="search">
        <div class="search-bar">
            <input class="in-text" type="text">
        </div>
        <div class="search-btn">
            <a href=""><i class="fas fa-search"> Search</i></a>
        </div>
    </div> -->

    

    <form class="search">
        
            <input class="in-text search-bar" type="text">
            <button class="search-btn-img" type="submit"><i class="fas fa-camera"></i></i></button>
            <button class="search-btn" type="submit">Search <i class="fas fa-search"></i></button>
            
        
    </form>

    <div class="burger-outer-big"></div>
    <div class="burger-outer"></div>

    
    <div class="burger">
        <ul class="u-menu">
            <a class="h-menu1 li-m" href=""><li ><i class="fas fa-home"></i> Home</li></a>
            <a class="h-menu2 li-m" href=""><li ><i class="fas fa-list-ul"></i> Witch List</li></a>
            <a class="h-menu3 li-m" href=""><li ><i class="far fa-newspaper"></i> News</li></a>
            <a class="h-menu4 li-m" href=""><li ><i class="fas fa-question"></i> Help</li></a>
            <a class="h-menu5 li-m" href=""><li ><i class="fas fa-info-circle"></i> About Us</li></a>
        </ul>
    </div>
    
</header>