@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

body {
    font-family: 'Vollkorn', serif;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

#team-bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 4%;
    width: 80%;
}

.member a {
    color: whitesmoke;
    font-size: 20px;
    float: left;
    margin-right: 30px;
    position: relative;
    bottom: 50px;
}


p {
    margin: 20px 0;
    font-size: 21px;
}

.member img {
    width: 70%;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 65px;
    margin: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: #012e40c7;
    box-shadow: 0 4px 8px 0 #f24141af, 0 6px 20px 0 #f24141af;
    float: left;
}

.member {
    width: 200px;
    background-color: #f24141af;
    border-radius: 10px;
    border-color:#a20a0a ;
    float: left;
    box-shadow: 0 4px 8px 0 #012e40b7, 0 6px 20px 0 #012e40b7;
    text-align: center;
    padding: 10px;
    height: 300px;
    margin: 8% 8%;
    color: whitesmoke;
}

h2 {
    margin:40px auto ;
    text-align: center;
    font-size: 170%;
    font-weight: bolder;
}

.first-p {
    text-align: center;
    width: 80%;
    margin: 4% 8%;
}

.names {
    font-size: 23px;
    position: relative;
    padding-bottom :10px; ;
    bottom: 70px;

}

.bio {
    position: relative;
    bottom: 70px;
    text-align: center;
    font-size: 14px;
}

.social-links a {
    margin: 8.3%;
    text-align: center;
}
.social-links a:hover {
    color: #a20a0a;
}

@media (min-width:560px){

.member {

    margin: 3% 8%;


}
}