main {
    margin: auto;
    text-align: center;
    width: 80%;
    display: grid;
    grid-row: 30% 70%;
}

h3 {
    font-weight: bold;
    margin: 7% auto 7% auto;
}

h4 {
    margin: 5% auto 5% auto;
}

#about-us-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
}

.person-card {
    padding: 25%;
    padding-top: 10%;
    text-align: center;
    margin: auto;
    height: 50%;
    background-color: darkgrey;
    box-shadow:grey 1px 1px 1px;
}

.person-img {
    border-radius: 50%;
    width: 40%;
    height: 40%;
}

.social-links-icons {
    transition: 0.5s ease;
    background: rgba(234, 243, 233, 0.7);
    opacity: 0;
}

.person-card:hover .social-links-icons {
    opacity: 1;
}

.description {
    height: 20%;
    overflow: hidden;
}

.social-links-icons a {
    display: inline;
}