body{

    background-image: url(/img/bgBlured.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 170vh;
    background-attachment: fixed;

}
a{
    display: block;
    text-decoration: none;
    color: black;
}
header{

    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
}
.logo{
    position: relative;
    width: 200px;
    right: 20px;
    bottom: 70px;
    
}
.logo img{
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(3, 3, 3);
    
}
nav{
    margin: 5px;
    line-height: 50px;
    height: 60px;
    grid-column-start: 1;
}
i{
    transition: 0.3s;    
}
.nav-ul{
    display: grid;
    grid-template-columns: 6fr 2fr 1fr;
    color: #121212;
    overflow: hidden;
    
}
.bur-in{
    z-index: 50;
    color: #F24141;
    text-shadow: 2px 2px black;
    font-size: 25px;
    background-color: #8f2727a1;
    height: 50px;
    padding: 5px 10px;
    border-radius: 50%;
}
.in:hover{
    color:white;
    text-shadow: 2px 2px black;
    background-color: #8f2727d5;
}
.search{
    display: grid;
    grid-template-columns:1fr 8fr  1fr 1fr;
    font-size: 18px;
    margin-top: 30px;
    width: 100%;
    z-index: 10; 
    
}
.search-bar{
    display: grid;
    align-self: center;
    justify-self: end;
    grid-column: 2 / 3;

    
}
.search-btn-img{
    align-self: center;
    background-color: #eeeeeeaf;
    padding: 13px 0;
    width: 100%;
    height: 100%;
    display: block;
    margin-right: 16px;
    padding-left: 5px; 
    color: #121212;
    justify-self: start;
    border: 0;
    outline: 0;
}
.search-btn-img:hover, .search-btn:hover{
    
    color:#F24141 ;
}
.search-btn{
    align-self: center;
    border-radius: 0 20px 20px 0;
    background-color: #eeeeeeaf;
    padding: 14px 0;
    width: 85px;
    display: block;
    margin-right: 16px;
    padding-left: 5px; 
    color: #121212;
    justify-self: start;
    border: 0;
    outline: 0;
}
.in-text{
    padding: 11px  ;
    border-radius: 20px 0 0 20px;
    background-color: #eeeeeeaf;
    width: 91%;
    outline-style: none;
    font-size: 18px;
    font-weight: 400;
    color: #121212;
    z-index: 1;
    border: 0;
    outline: #eeeeeeaf;
}
.u-menu{

    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);  
    
}


.li-m{
    border-radius: 40%;
    color: #eeeeee;
    padding: 0;

}
.li-m:hover{
    border-radius: 40%;
    color: #F24141;
    
}
.h-menu1{
    padding: 15px 22px 15px 15px;
    grid-column: 1 / 6  ;
    grid-row: 6 / 6;
}
.h-menu2{
    padding: 15px 22px 15px 15px;
    grid-column: 2 / 7;   
    grid-row: 7 / 8;
}
.h-menu3{
    padding: 15px 22px 15px 15px;
    grid-column: 3 / 10;   
    grid-row: 8 / 9;
}
.h-menu4{
    padding: 15px 22px 15px 15px;
    grid-column: 4 / 9;   
    grid-row: 9 / 10;
}
.h-menu5{
    padding: 15px 22px 15px 15px;
    grid-column: 6 / 13;   
    grid-row: 10 / 11;
}
.burger-outer-big{
    position: fixed;
    background-color: #f1faeeb4;
    margin-right: 10px;
    display: none;
    z-index: 11;
    width: 800px;
    height: 850px;
    border-radius: 50%;
    right: -350px;
    top: -160px;
    opacity: 0.5;
}
.burger-outer{
    position: fixed;
    background-color: #F24141;
    margin-right: 10px;
    display: none;
    z-index: 12;
    width: 530px;
    height: 560px;
    border-radius: 50%;
    right: -265px;
    top: -190px;
}
.burger{
   
    position: fixed;
    background-color: #8f2727;
    margin-right: 10px;
    display: none;
    z-index: 13;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    right: -250px;
    top: -190px;
    
}
.burger-test{
    position: fixed;
    background-color: #F24141;
    z-index: 13;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    right: -300px;
    top: -300px;
    display: none;
    
    
}
.footer{
    position: fixed;
    height: 60px;
    background-color: #eeeeee;
    font-size: 35px;
    color: #4e4e4e83;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
 
}
.big-footer{
    color: #535252c9;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    grid-template-columns: repeat(4,1fr)  ;
}
.footer-child:hover{
    color: #121212;

}
.mainSection{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.main-div{

    align-self: stretch;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows: repeat(20,5%);
    margin-bottom: 20px;
}
.anime-img{
    grid-column: 1 / 10;
    grid-row: 4 / 10;
}
.anime-des{

    grid-column: 7 / 20;
    grid-row: 1 / 15;
    background-color: #eeeeeeaf;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(46, 46, 46, 0.918), 0 6px 20px 0 rgba(47, 47, 47, 0.911);
    color: #121212;
    
    
}
.list-img{
    border-radius: 10px;
    width: 100%;
    height: 300px!important;
    box-shadow: 0 10px 10px 0 rgba(46, 46, 46, 0.918), 0 6px 20px 0 rgba(47, 47, 47, 0.911);
    
}
.title{
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
}
.not-title{
    padding: 10px 0 10px 75px;
    font-size: 16px;
}
.btn-title{
    width: 65%;
    float: right;
    margin: 10px 10px ;
    padding: 10px 0 ;
    background-color: #eeeeee;
    border-radius: 5px;
    border: #eeeeee solid 1px;
    color: #eeeeee;
    position: relative;
    cursor: pointer;
    font-size: 18px;

}

.d-news{


    margin: 50px 5px;
    display: grid;
    border-radius: 10px;
}
.d-news:hover{
    box-shadow: 0 10px 10px 0 rgba(19, 19, 19, 0.918), 0 6px 20px 0 rgba(19, 19, 19, 0.911);
}

.img-news-img{  
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0 0;
}
.img-news{  

    height: 230px;

}
.text-news{
    background-color: #eeeeeec0;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    padding: 10px;
}
.news-author{
    padding: 12px;
    margin-bottom: 2px;
    font-size: 26px;
    font-weight: 800;
    grid-column: 1 / 4;
}
.news-title{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    grid-column: 1 / 4;
    height: 38px;
    margin-top: 0px;
    line-height: 1.4;
}
.news-data{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    grid-column: 1 / 4;
}
.u-news{
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns:  8fr 1fr 8fr;
    grid-column: 2 / 4;
}

.btn-more2{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #eeeeee;
    border: solid 1px #eeeeee;
    color: #121212;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    grid-column: 3 / 4;

}

.btn-more > .text, .btn-title > .text, .btn-more2  > .text, .list-de  > .text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(90deg, #F24141 0%, #F24141 50%, #F24141 50%, #F24141 100%);
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
}
.btn-more::before,.btn-title::before, .btn-more2::before, .list-de::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#F24141;
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 400ms;
    border-radius: 5px;
}
.btn-more:hover .text, .btn-title:hover .text, .btn-more2:hover .text, .list-de:hover .text {
    background-position: 0 0;
    background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 100%);
}
.btn-more:hover::before, .btn-title:hover::before, .btn-more2:hover::before, .list-de:hover::before {
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
    
}
.btn-more{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #F24141;
    border: solid 1px #eeeeee;
    color: #eeeeee;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    grid-column: 1 / 2;

}

.btn-more > .text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(90deg, #555c68 0%, #9ca4af 50%, #bac7da 50%, #ffffff 100%);
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
}
.btn-more::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#eeeeee;
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms;
    border-radius: 5px;
}
.btn-more:hover .text{
    background-position: 0 0;
    background-image: linear-gradient(90deg, #08162a 0%, #143e72 50%, #225db1 50%, #2378e7 100%);
}
.btn-more:hover::before {
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
    
}

/* .btn-more:hover{
    background-color: #eeeeee;
    border: solid 1px #121212;
    color: #121212;
} */
.l-news{
    height: 155px;
    grid-column: 1 / 4;
    line-height: 1.5;
}
.search-main{
    margin: 60px 0;
}
.s-search{
    display: grid;
    grid-template-columns:  4% 92% 4%;
    margin-bottom: 60px;
    
}
 
.d-search{
    grid-column: 2 / 3;
    display: grid;
    box-shadow: 0 10px 10px 0 rgba(46, 46, 46, 0.726), 0 6px 20px 0 rgba(47, 47, 47, 0.739);
    border-radius: 10px;

}
.d-search:hover{
    box-shadow: 0 10px 10px 0 rgba(34, 34, 34, 0.904), 0 6px 20px 0 rgba(32, 32, 32, 0.904);

}
.img-search{
    width: 100%;
    height: 330px;
    grid-column: 1 / 3;
    
}
.s-img{
    width: 100%;
    height: 330px;
    border-radius: 10px 10px 0 0;

}
.text-search{
    background-color: #eeeeeeaf;
    grid-column: 1 / 3;
    border-radius:0 0 10px 10px;
    font-size: 20px;
    padding: 12px;
}
.btn-details{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F24141;
    border:0;
    color: #eeeeee;
    outline: 0;
}
.btn-details:hover{

    background-color: #eeeeee;
    border: 0;
    color: #eeeeee;
    color: #F24141;
}
.search-title,.u-search{
    padding-bottom: 10px;
}
iframe{
    background-color: black;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}
.d-form-big{
    grid-column: 2 / 3;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 10px;
}


#more {
    display: none;

}
.d-data  {
    background-color: #eeeeee;
    padding: 10px 0 ;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0 25px 0;
}  
.d-data h1, .d-data p   {

    padding: 0 10px ;
    width: 100%;
    font-size: 18px;
} 
.d-data p   {
    border: #121212 solid 1px;
    padding: 10px 10px 30px 10px  ;
    width: 90%;
    font-size: 18px;
    background-color: rgb(255, 248, 248);
    border-radius: 5px;
} 


.f-name, .l-name, .email, textarea{
    padding: 10px 0 ;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.btn-send{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    margin: 10px 0;
    background-color: white;
}

  .login-btn {
    background-color: #eeeeee00;
    font-size: 21px;
    font-family: Hack, monospace;
    color: #1d1d1d;
    cursor: pointer;
    padding: 1rem ;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    position: relative;
    outline: #eeeeee00;
    width: 120px;
    height: 48px;
    margin-top: -10px;
}
.login-btn::after, .nav-btn::after {
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    left: 80%;
    top: 58%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2f6";

}
.login-btn:hover, .nav-btn:hover {
    transition: all 0.8s;
    padding: 1rem 2rem 1rem 1rem;
    color: rgb(255, 255, 255);
}
.login-btn:hover::after, .nav-btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px black; */
}
.list-main{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 2% 96% 2%;
}
.s-list{
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;


}
.d-list-l{
    margin: 15px 0;
    box-shadow: 0 10px 10px 0 rgba(68, 35, 20, 0.623), 0 6px 20px 0 rgba(68, 35, 20, 0.623);
    border-radius: 10px;
}
.d-img-l{
    height: 200px;
}

.l-img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
.list-text{
    background-color: #eeeeee9f;
    padding: 5px;
    display: grid;
    border-radius:0 0 10px 10px;

}
.list-name{
grid-column: 1 / 3;
padding: 8px;
font-size: 20px;
font-weight: 1600px;
}
.list-de{
    width: 150%;
    padding: 12px 0 ;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    border: 0;
}
.delete {
    font-size: 18px;
    color: #f2414183;
    width: 40px;
    height: 35px;
    background-color: #eeeeee00;
    border: 0;
    outline: 0;
    margin: 13px 0 10px 5px;
    float: right;

}
.delete:hover{
    font-size: 30px;
    transition: 0.3s;
    color: #F24141;
}
.vid-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    border: 0;
    outline: 0;
}
.vid-search{
    width: 100%;
    grid-column: 1 / 3;
    
}
.footer-copy{
    position: relative;
    height: 60px;
    background-color: #eeeeee;
    font-size: 24px;
    color: #121212;
    bottom: 0;
    width: 100%;
    display: none;
    line-height: 60px;
    text-align: center;
}

.nav-inv1{
    display: none;
}

.m-news{
    display: grid;
    margin: 0 2%;
}
.line{
    width: 100%;
    height: 80px;
    font-size: 2em;
    line-height: 80px;
    text-align: center;
    background-color: rgb(151, 33, 33);
    color: #eeeeee;
}
.search-main-img{
    margin-top: 70px;
}

@media (min-width:560px){


    
    .footer-copy{
        display: inline-block;
    }
    .big-footer{
        display: none;
    }
    body{
        background-size: cover;
    }
    .flex-direction-nav a, .flex-direction-nav a:before {
    
        display: inline-block!important;
    }

      .nav-inv1{
        display: block;
    }
    .nav-ul-res{
        display: grid;
        margin-top: 20px;
        grid-template-columns: 1fr 10fr repeat(7,1fr) ;
    }
    .nav-ul-res li{
        font-size: 20px;
        font-weight: 800;
        color: #eeeeee;
        margin-left: 10px;

    }
    .nav-inv{
        display: none;
    }
    .m-news{
        display: flex;
        justify-content :space-evenly;
    
    }
    .s-news{
        width: 30%;
        /* flex-direction: column;
        justify-content: space-between; */
    }
    .login-btn a{
        color: #eeeeee;
        text-shadow: 2px 2px black;
        font-weight: 800;
        
    }
    .login-btn {

        width: 140px;
        font-size: 1.1em;
    }
    .login-btn::after {
        content: "\f2f6";
        font-size: 22px; 
 
    }
    .login-btn-h::after {
       content: "\f015" ;
    }
    .login-btn-m::after,.login-btn-m {
        content: "\f0ca";
        width: 150px;
    }
    .login-btn-p::after,.login-btn-p {
        content: "\f007";
        width: 140px;
    }
    .login-btn-c::after,.login-btn-c {
        content: "\f128";
        width: 155px;
    }
    .login-btn-a::after,.login-btn-a {
        width: 150px;
        content: "\f129";
    }
    .search{
        display: grid;
        grid-template-columns:12fr 9fr  1fr 1fr 1fr;
        font-size: 18px;
        margin-top: 30px;
        width: 100%;
        z-index: 10; 
        
    }
    .d-news{
        margin: 50px;
    }
   
    .mainSection{
        grid-template-columns: 2% 90% 5%;
    }
    .list-img{
        border-radius: 10px;
        width: 100%;
        height: 300px!important;
        box-shadow: 0 10px 10px 0 rgba(46, 46, 46, 0.918), 0 6px 20px 0 rgba(47, 47, 47, 0.911);  
    }
    .anime-img{
        grid-column: 2 / 7;
        grid-row: 4 / 20;
        
    }
    .list-img{
        height: 500px!important;
    }
    .anime-des{
        grid-column: 6 / 11;
        grid-row: 1 / 18;
    }
    .title{
        font-size: 1.8em;
        font-weight: 800;
        padding: 8px;
    }
    .not-title{
        font-size: 1.8em;
        padding: 30px 0 0 100px;
    }
    .btn-title{
        margin:50px 25px 10px 0;
        border: 0;
    }
    .list-main{
        margin: 50px 0;
        display: flex;
    }

    .s-list{
        display: flex;
        margin: 0 20px;

    }
    .d-list-l{
        width: 25%;
    }
    .search-main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .s-search{
        width: 17%;
    }
    .img-search{
        height: 200px;
        
    }
    .s-img{
        height: 200px;
        background-color: #F24141;
    }

    .search-main-img{
        display: flex;
        justify-content: space-around;
        margin: 120px 0 160px 0 ;
    }
    .s-search-vid{
        width: 25%;
    }



}
/* Read more continue Reading  */
.text{
    font-weight: 900;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }



