@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

#sign-in-form-div, #sign-up-form-div {
    margin: auto;
    text-align: center;
    width: 100%;
}

body {
    font-family: 'Vollkorn', serif;
}

#sign-in-form-div {
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    background-color: #012e40c7;
    border-radius: 10px;
    animation: animatezoomin 0.5s;
}

input, button {
    opacity: 0.7;
    border-radius: 3em;
    width: 55%;
    margin: 4%;
    padding: 2.5%;
    border: 0;
    background-color: #024959;
    color: whitesmoke;
    font-family: 'Vollkorn', serif;
}

input {
    font-size: larger;
}

input:focus , button:active {
    opacity:1;
    outline: none;
}

::placeholder { 
    color: whitesmoke;
}    

#show-signup-form-btn {
    width: 20%;
}

#sign-up-form-div {
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #012e40c7;
    /* opacity: 0.8; */
    width:90%;
    border-radius: 10px;
    display: none;
    position: relative;
    z-index: 1;
    top: 10%;
    left: 0;
    right: 0;
    animation: animatezoomin 0.5s;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}
    
@keyframes animatezoomin {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#cancel-btn {
    background-color:rgba(218, 17, 17, 0.849);
    color: whitesmoke;
    width: 20%;
}

#create-account-div {
    margin-top: 4%;
}

#create-account-div button {
    margin-top: 1%;
}

#create-account-div p {
    color: whitesmoke;
    font-size: small;
    margin-right: 20%;
}


@media (min-width:560px){

    #sign-in-form-div,#sign-up-form-div,#user-info-div  {
        width: 35%;
        margin: 50px auto 100px auto;
    }
    #sign-in-form {
        width: 100%;
        margin: 0;
    }
    .sign-in-input{
        border-radius: 15px;
        width: 85%;
    }
    #sign-in-form button {
        margin-left: 40%;
    }
    #create-account-div{
        width: 60%;
    }
    #create-account-div p{
        padding: 0 0 10px 50px;
    }







}