@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

body {
    font-family: 'Vollkorn', serif;
}

#user-info-div, #update-info-form-div {
    margin: auto;
    text-align: center;
    width: 100%;
}

#user-info-div {
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    width: 90%;
    background-color: #012e40c7;
    animation: animatezoomin 0.5s;
}

#user-info-div ul li {
    margin: 5%;
    font-size: larger;
    text-align: left;
    color: whitesmoke;
}

input, button {
    opacity: 0.7;
    border-radius: 3em;
    width: 55%;
    margin: 4%;
    padding: 2.5%;
    border: 0;
    background-color: #024959;
    font-family: 'Vollkorn', serif;
    color: whitesmoke;
}

input {
    font-size: larger;
}

input:focus , button:active {
    opacity:1;
    outline: none;
}

::placeholder { 
    color: whitesmoke;
}    

#show-update-form-btn {
    width: 20%;
}

#update-info-form-div {
    padding-top: 2%;
    padding-bottom: 2%; 
    background-color: #012e40c7;
    width:90%;
    border-radius: 10px;
    display: none;
    position: relative;
    z-index: 1;
    top: 10%;
    left: 0;
    right: 0;
    animation: animatezoomin 0.5s;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}
    
@keyframes animatezoomin {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#cancel-btn, #delete-account-btn {
    background-color:rgba(218, 17, 17, 0.849);
    color: whitesmoke;
    width: 20%;
}

#delete-account-btn, #show-update-form-btn{
    width: 30%;
}

b {
    font-weight: bold;
}