<%-include("partials/head")%>
    <link rel="stylesheet" href="../public/style/about-us.css">
    <main>
        <div>
            <h2>
                Our Mission and Vision
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, a non quis illo sit, ad reiciendis
                expedita fuga earum hic quos dolorem. Sit eveniet, quos provident placeat velit consectetur tempore.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero ullam blanditiis officiis, aliquam
                dicta, officia veritatis necessitatibus dignissimos voluptas distinctio tempora. Libero a, beatae
                voluptates sunt magni voluptas harum fugit!
            </p>
        </div>

        <div id="about-us-div">

            <div class="person-card">
                <img class="person-img"
                    src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg"
                    alt="">
                <h4>
                    Team Leader
                </h4>
                <h3>
                    Boshra Jaber
                </h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consectetur quae doloremque ea
                    temporibus voluptatem earum quos magnam, a ipsa! Quasi mollitia harum, neque</p>
                <div class="social-links-icons">
                    <a href=""><img src="../public/img/linkedin.png" alt=""></a>
                    <a href=""><img src="../public/img/github.png" alt=""></a>
                </div>
            </div>
            <div>
                <div class="person-card">
    
                    <img class="person-img"
                        src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg"
                        alt="">
                    <h4>
                        Front-end
                    </h4>
                    <h3>
                        Ibrahim Al-Jaber
                    </h3>
                    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam obcaecati quasi possimus ad,
                        laborum nostrum repellendus dignissimos id culpa eum dolore facilis eveniet sunt voluptas. </p>
                    <div class="social-links-icons">
                        <a href=""><img src="../public/img/linkedin.png" alt=""></a>
                        <a href=""><img src="../public/img/github.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="person-card">
                <img class="person-img"
                    src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg"
                    alt="">
                <h4>
                    Front-end
                </h4>
                <h3>
                    Bashar Nofal
                </h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci voluptatem in eveniet
                    deserunt eum a molestias, error accusamus iure ex possimus qui ut, officiis earum numquam mollitia
                    accusantium dolores?</p>
                <div class="social-links-icons">
                    <a href=""><img src="../public/img/linkedin.png" alt=""></a>
                    <a href=""><img src="../public/img/github.png" alt=""></a>
                </div>
            </div>

            <div class="person-card">
                <img class="person-img"
                    src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg"
                    alt="">
                <h4>
                    Back-end
                </h4>
                <h3>
                    Omar Tarawneh
                </h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ducimus eum laboriosam beatae
                    atque. Nostrum eos, fuga officia error ex laudantium magnam. Assumenda iure </p>
                <div class="social-links-icons">
                    <a href=""><img src="../public/img/linkedin.png" alt=""></a>
                    <a href=""><img src="../public/img/github.png" alt=""></a>
                </div>
            </div>

            <div class="person-card">
                <img class="person-img"
                    src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255532-stock-illustration-profile-placeholder-male-default-profile.jpg"
                    alt="">
                <h4>
                    Back-end
                </h4>
                <h3>
                    Osama Abu-Orra
                </h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nobis enim et consectetur.
                    Consectetur dolorum ad cupiditate nihil quae ipsam ipsum natus esse hic iure,</p>
                <div class="social-links-icons">
                    <a href=""><img src="../public/img/linkedin.png" alt=""></a>
                    <a href=""><img src="../public/img/github.png" alt=""></a>
                </div>
            </div>


        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../public/js/sign-in.js"></script>

    <%-include("partials/footer")%>