<%-include("partials/head")%>
  <%-include("partials/header")%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,500&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="/style/about-us.css">


      <title>Code Weavers Team</title>
    </head>

    <body>
      <main class="main">
        <section class="first-p">
          <h1>About Us</h1>


          <p>
            Code Weavers started Code Weavers Cuisine because we Believe food taste matter and we found that usually
            resturants do their food based only on menu and this menu tell us what we should taste, and we don't all
            agree on that.
          </p>

          <p>
            That's why We (Code Weavers team) took this seriously and we decided to take revolutionary step and take
            different directions not only allow our customers to try famous meals, but also they can create their
            own meals.
          </p>

          <p>
            Along the way, our customers will get the chance make their own gredients list and we will cook it based
            on customer desire by professional and certified chef.
          </p>

          <p>
            We want to be your trusted partner when it come to food and your own personal preferece and we will do
            our best so you have best experience.
          </p>
        </section>
        <h2 class="heading">Our Team</h2>
        <section id="team-bio">

          <div class="member">
            <img class="member-profile-pic" src="img/Team/Boshra.jpg" alt="Boshra Jaber">
            <p class="bio">Team Leader</p>
            <h4 class="names">Boshra Jaber</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/boshra-jaber/">LinkedIn</a>
              <a href="https://github.com/BoshraJaber">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/team/Yazan.jpg" alt="Yazan Abu Sneneh">
            <p class="bio">Back-End</p>
            <h4 class="names">Omar Tarawneh</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/yazan-a-sneneh/">LinkedIn</a>
              <a href="https://github.com/YazanSneneh">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Ibrahim.JPG" alt="Ibrahim Al-Jaber">
            <p class="bio">Fornt-End</p>
            <h4 class="names">Ibrahim Al-Jaber</h4>
            <div class="social-links">
              <a href="">LinkedIn</a>
              <a href="">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Osama.jpg" alt="Salah Alawneh">
            <p class="bio">Back-End</p>
            <h4 class="names">Osama Orra</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/salah-alawneh-04b780202/">LinkedIn</a>
              <a href="https://github.com/SalahAlawneh">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Bashar.jpeg" alt="Bashar Nofel">
            <p class="bio">Fornt-End</p>
            <h4 class="names">Bashar Nofal</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/basharnofal97/">LinkedIn</a>
              <a href="https://github.com/BasharNofal">GitHub</a>
            </div>
          </div>

        </section>
      </main>
    </body>

    </html>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/sign-in.js"></script>

    <%-include("partials/footer")%>