<%-include("partials/head")%>
  <%-include("partials/header")%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,500&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="/style/about-us.css">


      <title>Code Weavers Team</title>
    </head>

    <body>
      <main class="main">
        <section class="first-p">
          <h2>Our Mission and Vision</h2>


          <p>
            Our vision is to provide anime fans with an user-friendly website. A site where they will feel like home and a place to share their love and passion.
          </p>
        </section>
        <h2 class="heading">Our Team</h2>
        <section id="team-bio">

          <div class="member">
            <img class="member-profile-pic" src="img/Team/Boshra.jpg" alt="Boshra Jaber">
            <p class="bio">Team Leader</p>
            <h4 class="names">Boshra Jaber</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/boshra-jaber/">LinkedIn</a>
              <a href="https://github.com/BoshraJaber">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Omar.jpg" alt="Omar Tarawneh">
            <p class="bio">Back-End</p>
            <h4 class="names">Omar Tarawneh</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/omar-tarawneh-57aa03128/">LinkedIn</a>
              <a href="https://github.com/Omar-Tarawneh">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Ibrahim.JPG" alt="Ibrahim Al-Jaber">
            <p class="bio">Fornt-End</p>
            <h4 class="names">Ibrahim Al-Jaber</h4>
            <div class="social-links">
              <a href="">LinkedIn</a>
              <a href="">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Osama.jpg" alt="Osama Abu Orra">
            <p class="bio">Back-End</p>
            <h4 class="names">Osama Abu Orra</h4>
            <div class="social-links">
              <a href="https://github.com/semo4">LinkedIn</a>
              <a href="https://github.com/semo4">GitHub</a>
            </div>
          </div>
          <div class="member">
            <img class="member-profile-pic" src="img/Team/Bashar.jpeg" alt="Bashar Nofel">
            <p class="bio">Fornt-End</p>
            <h4 class="names">Bashar Nofal</h4>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/basharnofal97/">LinkedIn</a>
              <a href="https://github.com/BasharNofal">GitHub</a>
            </div>
          </div>

        </section>
      </main>
    </body>

    </html>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/sign-in.js"></script>

    <%-include("partials/footer")%>