<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" 
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/styles.css">


    <title>Document</title>
</head>
<body>


    <header>
        <nav>
            
            <ul class="nav-ul">
                <li><img class="logo" src="/img/logo.jpg" alt=""></li>
                <li><i class="in fas fa-bars"></i></li>
            </ul>
        </nav>

        <div class="search">
            <div class="search-bar">
                <input class="in-text" type="text">
            </div>
            <div class="search-btn">
                <a href=""><i class="fas fa-search"> Search</i></a>
            </div>
        </div>
        <div class="burger">
            <ul >
                <a href=""><li class="h-menu">Home</li></a>
                <a href=""><li class="h-menu">Witch List</li></a>
                <a href=""><li class="h-menu">News</li></a>
                <a href=""><li class="h-menu">Help</li></a>
                <a href=""><li class="h-menu">About Us</li></a>
            </ul>
        </div>
        
    </header>







    <footer>
        <div class="footer big-footer">
            <div><h2>copy rights  © for team proogle geeks</h2></div>
            <!-- <div class="footer-child"><i class="fas fa-home"></i></div>
            <div class="footer-child"><i class="fas fa-list-ul"></i></div>
            <div class="footer-child"><i class="far fa-newspaper"></i></div>
            <div class="footer-child"><i class="fas fa-user"></i></div> -->
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    <script src="/js/app.js"></script>
    
</body>
</html>