<%- include("../partials/head.ejs")%>
    <%- include("../partials/header.ejs")%>




        <main class="list-main">

            <section class="s-list">

                <div class="d-list-l">

                    <div class="d-img-l">
                        <img class="l-img" src="/img/list.jpg" alt="">
                    </div>

                    <div class="list-text">
                        
                        <h1 class="list-name">Naruto</h1>

                            <form  action="">
                                    <button class="list-de" type="submit" class="btn-list">
                                        <span class="text">Details</span>
                                    </button>  
                            </form>

                            <form  action="">
                                <button class="delete" type="submit" class="btn-list">
                                    <span class="text"><i class="fas fa-trash"></i></span>
                                </button>
                            </form>
                        
                        
                    </div>
               </div>

               <div class="d-list-l">

                <div class="d-img-l">
                    <img class="l-img" src="/img/list.jpg" alt="">
                </div>

                <div class="list-text">
                    
                    <h1 class="list-name">Naruto</h1>

                        <form  action="">
                                <button class="list-de" type="submit" class="btn-list">
                                    <span class="text">Details</span>
                                </button>  
                        </form>

                        <form  action="">
                            <button class="delete" type="submit" class="btn-list">
                                <span class="text"><i class="fas fa-trash"></i></span>
                            </button>
                        </form>
                    
                    
                </div>
           </div>

           <div class="d-list-l">

            <div class="d-img-l">
                <img class="l-img" src="/img/list.jpg" alt="">
            </div>

            <div class="list-text">
                
                <h1 class="list-name">Naruto</h1>

                    <form  action="">
                            <button class="list-de" type="submit" class="btn-list">
                                <span class="text">Details</span>
                            </button>  
                    </form>

                    <form  action="">
                        <button class="delete" type="submit" class="btn-list">
                            <span class="text"><i class="fas fa-trash"></i></span>
                        </button>
                    </form>
                
                
            </div>
       </div>

       <div class="d-list-l">

        <div class="d-img-l">
            <img class="l-img" src="/img/list.jpg" alt="">
        </div>

        <div class="list-text">
            
            <h1 class="list-name">Naruto</h1>

                <form  action="">
                        <button class="list-de" type="submit" class="btn-list">
                            <span class="text">Details</span>
                        </button>  
                </form>

                <form  action="">
                    <button class="delete" type="submit" class="btn-list">
                        <span class="text"><i class="fas fa-trash"></i></span>
                    </button>
                </form>
            
            
        </div>
   </div>


   <div class="d-list-l">

    <div class="d-img-l">
        <img class="l-img" src="/img/list.jpg" alt="">
    </div>

    <div class="list-text">
        
        <h1 class="list-name">Naruto</h1>

            <form  action="">
                    <button class="list-de" type="submit" class="btn-list">
                        <span class="text">Details</span>
                    </button>  
            </form>

            <form  action="">
                <button class="delete" type="submit" class="btn-list">
                    <span class="text"><i class="fas fa-trash"></i></span>
                </button>
            </form>
        
        
    </div>
</div>


<div class="d-list-l">

    <div class="d-img-l">
        <img class="l-img" src="/img/list.jpg" alt="">
    </div>

    <div class="list-text">
        
        <h1 class="list-name">Naruto</h1>

            <form  action="">
                    <button class="list-de" type="submit" class="btn-list">
                        <span class="text">Details</span>
                    </button>  
            </form>

            <form  action="">
                <button class="delete" type="submit" class="btn-list">
                    <span class="text"><i class="fas fa-trash"></i></span>
                </button>
            </form>
        
        
    </div>
</div>


<div class="d-list-l">

    <div class="d-img-l">
        <img class="l-img" src="/img/list.jpg" alt="">
    </div>

    <div class="list-text">
        
        <h1 class="list-name">Naruto</h1>

            <form  action="">
                    <button class="list-de" type="submit" class="btn-list">
                        <span class="text">Details</span>
                    </button>  
            </form>

            <form  action="">
                <button class="delete" type="submit" class="btn-list">
                    <span class="text"><i class="fas fa-trash"></i></span>
                </button>
            </form>
        
        
    </div>
</div>




            </section>

        </main>







        <%- include("../partials/footer.ejs")%>