


 <%- include("../partials/head.ejs")%>

 <%- include("../partials/header.ejs")%>


 <main class="search-main">

     <section class="s-search">
           <div class="d-search">
                <div class="img-search">
                    <img class="s-img" src="/img/search-img.jpg" alt="">
                </div>
                <div class="text-search">
                    
                    <ul class="u-search">

                        
                        <li>
                            <h2 class="search-title">Love Is War</h2> 
                        </li>
                        <li>
                            <h2 class="search-title">Date:</h2> 
                        </li>
                        <li>
                            <h2 class="search-author">demon</h2> 
                       </li>
                    </ul>

                    <a href=""><button class="btn-details">Details</button></a>
                    
                </div>
            </div>
     </section>

     <section class="s-search">
        <div class="d-search">
             <div class="img-search">
                 <img class="s-img" src="/img/search-img.jpg" alt="">
             </div>
             <div class="text-search">
                 
                 <ul class="u-search">

                     
                     <li>
                         <h2 class="search-title">Love Is War</h2> 
                     </li>
                     <li>
                         <h2 class="search-title">Date:</h2> 
                     </li>
                     <li>
                         <h2 class="search-author">demon</h2> 
                    </li>
                 </ul>

                 <a href=""><button class="btn-details">Details</button></a>
                 
             </div>
         </div>
  </section>

  <section class="s-search">
    <div class="d-search">
         <div class="img-search">
             <img class="s-img" src="/img/search-img.jpg" alt="">
         </div>
         <div class="text-search">
             
             <ul class="u-search">
  
                 <li>
                     <h2 class="search-title">Love Is War</h2> 
                 </li>
                 <li>
                     <h2 class="search-title">Date:</h2> 
                 </li>
                 <li>
                     <h2 class="search-author">demon</h2> 
                </li>
             </ul>

             <a href=""><button class="btn-details">Details</button></a>
             
         </div>
     </div>
</section>

 </main>

  <section class="s-search">
    <div class="d-search">
      <div class="img-search">
        <img class="s-img" src="/img/search-img.jpg" alt="" />
      </div>
      <div class="text-search">
        <ul class="u-search">
          <li>
            <h2 class="search-title">Love Is War</h2>
          </li>
          <li>
            <h2 class="search-title">Date:</h2>
          </li>
          <li>
            <h2 class="search-author">demon</h2>
          </li>
        </ul>
        <a href=""><button class="btn-details">Details</button></a>
      </div>
    </div>
  </section>
</main>

 <%- include("../partials/footer.ejs")%>
